<!-- muestro el menu lateral si clico a consultar facturas redirecciona a la ruta
 invoice-query, igual para datos personales profile-query
 y por ultimo si hago click en cerrar sesion ejecuta el metodo closeSession
 todos con el metodo toggleMenu para cerrar el menu lateral cada vez que le das a una opcion -->
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side"  [opened]="isOpen">
    <h4 [routerLink]="'invoice-query'" (click)="toggleMenu()" i18n>Consultar facturas</h4>
    <h4 [routerLink]="'profile-query'" (click)="toggleMenu()" i18n>Consultar datos personales</h4>
    <h4 (click)="toggleMenu(); closeSession()" i18n>Cerrar Sesión</h4>
  </mat-drawer>
</mat-drawer-container>
