<form (ngSubmit)="onSubmit()" [formGroup]="forms">
  <img src="../../../assets/images/logo-doble-electricidad.jpeg" alt="">
  <div>
    <input type="email" i18n-placeholder placeholder="Introduzca su Email" formControlName="email" />
  </div>
  <div>
    <input type="password" i18n-placeholder placeholder="Introduzca su Contraseña" formControlName="password" />
  </div>
  @if(messageAlert){
    <div>
      <p i18n>Credenciales no válidas...</p>
    </div>
  }
  <button type="submit" [disabled]="forms.invalid" i18n>ACCESO</button>
</form>
<!-- Es un formulario que se controla con el nombre del grupo llamado forms en el
 componente, en el button de tipo submit llama al metodo onSubmit que esta arriba 
 la llamada y en el componente este metodo para realizar el login
 El botón ACCESO está desactivado hasta que el los dos campos no sean validos para
 realizar la comprobación del login y si las credenciales no son correctas
 muestra el mensaje que esta con el if
 todo tag que tiene i18n es para la traduccion multi idioma -->