<div style="display: flex; flex-direction: column; height: 100vh">
  <!-- Aquí muestro el componente appheader controlo mediante el metodo
   toggleSidenav si esta mostrando o no el menu -->
  <div style="flex-shrink: 0">
    <app-header (menuToggle)="toggleSidenav()"></app-header>
  </div>
  <div style="flex-grow: 1; position: relative">
    <!-- Aquí muestro el componente sidenav cada vez que este activo o no
     mediante el metodo toogleSidenav y el isOpen, es decir input y output-->
    <app-sidenav [isOpen]="sidenavOpened" (menuToggle)="toggleSidenav()"></app-sidenav>
    <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
      <!-- Aquí muestro los componentes que se cargan dependiendo las rutas del dasboardRoutes -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
