<!-- Este es el header de la app en dashboard -->
<mat-toolbar id="toolbar">
  <!-- al hacer click en el icono menu muestra o no el menu lateral sidenav -->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <!-- Muestra el icono -->
  <img src="../../../assets/images/logo-doble-electricidad-main.jpg" alt="" id="logo">
  <span class="example-spacer"></span>
</mat-toolbar>
