<!-- Muestro el formulario para modificar los datos personales -->
<h2 mat-dialog-title i18n>Editar datos personales</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="profileForm">
    <div>
      <label i18n>Nombre del Titular:</label>
      <input type="text" formControlName="nombreTitular" />
    </div>
    <div>
      <label i18n>Correo Electrónico:</label>
      <input type="email" formControlName="correoElectronico" />
    </div>
    <div>
      <label i18n>Fecha de Alta:</label>
      <input type="date" formControlName="fechaDeAlta" />
    </div>
    <div>
      <label i18n>Dirección de Envío:</label>
      <input type="text" formControlName="direccionDeEnvio" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" i18n>Cancelar</button>
  <button mat-button [mat-dialog-close]="profileForm.value" cdkFocusInitial i18n>
    Guardar cambios
  </button>
</mat-dialog-actions>
