<h2 mat-dialog-title>Editar datos personales</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="profileForm">
    <div>
      <label>Nombre del Titular:</label>
      <input type="text" formControlName="nombreTitular" />
    </div>

    <div>
      <label>Correo Electrónico:</label>
      <input type="email" formControlName="correoElectronico" />
    </div>

    <div>
      <label>Fecha de Alta:</label>
      <!-- <input type="date" [value]="updateProfile.fechaDeAlta | date:'yyyy-MM-dd'" /> -->
       <input type="date" formControlName="fechaDeAlta" />
    </div>

    <div>
      <label>Dirección de Envío:</label>
      <input type="text" formControlName="direccionDeEnvio" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="profileForm.value" cdkFocusInitial>
    Guardar cambios
  </button>
</mat-dialog-actions>
