<main>
  <h1>Consultar facturas</h1>
  <div class="table-container">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by number"
        >
          No.
        </th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nombre">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by name"
        >
          Nombre de la factura
        </th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fecha">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by weight"
        >
          Fecha de emisión
        </th>
        <td mat-cell *matCellDef="let element">{{ element.fecha | datefilter }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="importe">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by symbol"
        >
          Importe
        </th>
        <td mat-cell *matCellDef="let element">{{ element.importe }}€</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="direccion">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by weight"
        >
          Dirección del suministro
        </th>
        <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</main>
